mysql-connector-python
tkcalendar


#  pyinstaller --onefile --noconsole --icon=qphn.ico --add-data "qphn.ico:." --name=Qphn main.py
#    pyinstaller --onefile --icon=qphn.ico --add-data "qphn.ico:." --name=Qphn main.py